body {
    background: #464d92;
    font-weight: 700;
    color: white;
}

nav {
    margin-bottom: 50px;
}

nav {
    color: black
}

label {
    font-size: 2em;
}

ul {
    list-style: none;
}
#ingridientDiv {
    width: 60%;
    margin: 0 auto;
}
#ingridients label { 
border-bottom: 1px solid rgb(119, 119, 119);
font-size: 1.2em;
background: #464d92;
width: 100%;
text-decoration: none;
cursor: pointer;
padding: 1rem 1.6rem;
display: block;
transition: background .3s ease;
display: flex;
justify-content: space-between;
align-items: center
}

#ingridients button {
    border: none;
    color: grey;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: none;
    cursor: pointer;
}

#ingridients button:hover {
    background: none;
}

#ingridients label:hover {
background: #343492;
}

.row {
    width: 90%;
    margin: 0 auto;
}

#buttons {
    margin-top: 30px;
}




.card {
    width: 18rem;
    color: black
}